<?xml version="1.0" encoding="UTF-8"?>

<suite name="Sample test suite">
    <test name="Sample Test Demonstrating testNG flow">
            <classes>
              <class name="Tests.SmokeTest" />
            </classes>
          </test>
    <listeners>
        <listener class-name="Utils.TestngSeleniumEventsListener"/>
    </listeners>


</suite>


